# EditorConfig for Dragon Warrior 4 Disassembly Project
# https://editorconfig.org
root = true

# Global defaults - TABS EVERYWHERE
[*]
charset = utf-8
end_of_line = crlf
indent_style = tab
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Python files
[*.py]
indent_style = tab
indent_size = 4
tab_width = 4
max_line_length = 120

# Assembly files - 8-space tabs for alignment
[*.asm]
indent_style = tab
indent_size = 8
tab_width = 8

[*.s]
indent_style = tab
indent_size = 8
tab_width = 8

[*.inc]
indent_style = tab
indent_size = 8
tab_width = 8

# JSON files
[*.json]
indent_style = tab
indent_size = 4
tab_width = 4

# YAML files
[*.{yml,yaml}]
indent_style = tab
indent_size = 2
tab_width = 2

# Markdown files - allow trailing whitespace for line breaks
[*.md]
trim_trailing_whitespace = false
indent_style = tab
indent_size = 4
tab_width = 4

# PowerShell scripts
[*.ps1]
indent_style = tab
indent_size = 4
tab_width = 4

# Shell scripts
[*.sh]
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = lf

# Batch files
[*.bat]
indent_style = tab
indent_size = 4
tab_width = 4

# Lua scripts (for Mesen)
[*.lua]
indent_style = tab
indent_size = 4
tab_width = 4

# Table files
[*.tbl]
indent_style = tab
indent_size = 4
tab_width = 4

# Makefile must use tabs
[Makefile]
indent_style = tab
indent_size = 4
tab_width = 4

[makefile]
indent_style = tab
indent_size = 4
tab_width = 4

# XML/HTML
[*.{xml,html,htm}]
indent_style = tab
indent_size = 4
tab_width = 4

# Config files
[*.{cfg,ini,conf}]
indent_style = tab
indent_size = 4
tab_width = 4

# Text files
[*.txt]
indent_style = tab
indent_size = 4
tab_width = 4

# WikiText
[*.wikitext]
indent_style = tab
indent_size = 4
tab_width = 4
